streamlit==1.28.0
pandas==2.1.0
requests==2.31.0
beautifulsoup4==4.12.2
networkx==3.1
matplotlib==3.8.0
fpdf==1.7.2
gTTS==2.3.2
python-dotenv==1.0.1
dnspython==2.5.0
arabic-reshaper==5.0.2
python-bidi==0.4.2
groq==0.2.4
