streamlit
requests
python-dotenv
beautifulsoup4
groq
tavily-python
duckduckgo-search
python-telegram-bot
gTT
supabase
dnspython
Pillow
validators
numpy=
matplotlib
networkx
PyGithub
streamlit-autorefresh
nest-asyncio
